# Dependencies
node_modules/

# SQLite database
server/*.db
server/*.sqlite
server/*.sqlite3

# Uploaded files
server/uploads/*

# Build files
client/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db